@model sakinawedsjuzar.Models.MasterModel
<style>
    .dateNow{
        letter-spacing: 1px;
    padding: 1px 10px;
    background-color: #26cbbd;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    }
</style>
<div class="countdown-section" id="comment" data-stellar-background-ratio="0.3">
    <div class="container wedding-info">
        <div class="row">
            <div class="col-md-12 text-center wedding-time" data-scroll-reveal="enter after 0.4s">
                <div class="bs-docs-example">

                    @foreach(var item in Model.comments.ParentComments)
                    { 
                        <div class="media  white-block">
                            @*<a class="pull-left" href="#">
                                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="" style="width: 64px; height: 64px;">
                                </a>*@
                            <div><span class="dateNow pull-right">@item.datetimenow.ToString("dd-MMM-yyyy")</span></div><br /><br />
                            <div class="media-body">
                                <h4 class="media-heading">@item.UserName</h4>
                                <p id="para">@item.Content</p>
                                @*@foreach(var comment in item.childcomments)
                                { 
                                    <div class="col-xs-offset-3 media">
                                        @*<a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="" style="width: 64px; height: 64px;">
                                            </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">@comment.UserName</h4>
                                            <p id="para">@comment.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>*@
                            @*<div class="row">
    <div class="col-sm-offset-10">
        <button type="button" class="btn btn-info" onclick="replyFunction('@item.CommentID')"><i class="fa fa-reply fa-lg" aria-hidden="true">Reply</i></button>

    </div>
    <div ng-controller="PostReplyController" id="@string.Format("{0}{1}", "replycomment", item.CommentID)" style="display:none">

        <form class="form-horizontal" role="form">

            <h3 class="bg-success">{{message}}</h3>
            <h3 class="bg-danger" id="replycommentError">{{errorName}}</h3>

            <div class="row" style="margin:20px;">
                <h4>Add Comment</h4>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="replyusername">Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="replyusername" id="@string.Format("{0}{1}", "replyusername", item.CommentID)" placeholder="Enter Name" ng-model="Replyusername" onkeypress="keypressUsernameFunction('@item.CommentID')">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="replycomment">Comment:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="replycommentcontent" id="@string.Format("{0}{1}", "replycommentcontent", item.CommentID)" placeholder="Enter Comment" ng-model="Replycomment" onkeypress="keypressCommentFunction('@item.CommentID')"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-10">
                        <button type="submit" class="btn btn-default" ng-click="submit()" id="submitreplycommentId" onclick="replyCommentFunction('@item.CommentID')">Submit</button>
                    </div>
                </div>
                <input type="text" name="replyCommentID" id="replyCommentID" ng-model="replyCommentID" style="display:none;" value="" />
            </div>
        </form>

    </div>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div ng-controller="PostCommentController">
            <form class="form-horizontal" role="form">

                <h3 class="bg-success">{{message}}</h3>
                <h3 class="bg-danger" id="commentError">{{errorName}}</h3>

                <div class="row" style="margin:20px;">
                    <h4>Add Comment</h4>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter Name" ng-model="username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">Comment:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="commentcontent" id="commentcontent" placeholder="Enter Comment" ng-model="comment"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-10">
                            <button type="submit" class="btn btn-default" ng-click="submit()" id="submitcommentId">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    $("#submitcommentId").click(function () {
        if ($("#username").val() == "") {
            $("#username").addClass('alert-danger');
            if ($("#commentcontent").val() == "") {
                $('#commentcontent').addClass('alert-danger')
                return false;
            }

            return false;
        }

        if ($("#commentcontent").val() == "") {
            $('#commentcontent').addClass('alert-danger')
            return false;
        }
    });

    $("#username").keypress(function () {
        $("#username").removeClass('alert-danger');
    });
    $("#commentcontent").keypress(function () {
        $("#commentcontent").removeClass('alert-danger');
    });

    function replyFunction(val){
        $("#replycomment"+val).css('display', 'block');
        $("#replyCommentID").val(val);
        
    }
    
    $("#replyusername").keypress(function () {
        $("#username").removeClass('alert-danger');
    });
    $("#replycommentcontent").keypress(function () {
        $("#replycommentcontent").removeClass('alert-danger');
    });

    function replyCommentFunction(val) {
        //console.log("this is a parentCommentID from jquery" + val);
        //var controllerElementReply = document.querySelector('[ng-controller="PostReplyController"]');
        //var controllerScopeReply = angular.element(controllerElementReply).scope();
        //console.log("jqurey set value to angular scope" + val);
        //controllerScopeReply.replyCommentID = val;
        $("#replyCommentID").val(val);
        if ($("#replyusername"+val).val() == "") {
            $("#replyusername" + val).addClass('alert-danger');
            if ($("#replycommentcontent" + val).val() == "") {
                $('#replycommentcontent' + val).addClass('alert-danger')
                return false;
            }

            return false;
        }

        if ($("#replycommentcontent" + val).val() == "") {
            $('#replycommentcontent' + val).addClass('alert-danger')
            return false;
        }

       
    }

    function keypressUsernameFunction(val) {
        if ($('#replyusername' + val).hasClass('alert-danger')) {
            $('#replyusername' + val).removeClass('alert-danger');
        }
    } function keypressCommentFunction(val) {
        if ($('#replycommentcontent' + val).hasClass('alert-danger')) {
            $('#replycommentcontent' + val).removeClass('alert-danger');
        }
    } 
</script>